<?xml version="1.0"?>
<robot name="so101" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find lerobot_description)/urdf/so101_base.xacro" />
    <xacro:include filename="$(find lerobot_description)/urdf/so101_gazebo.xacro" />
    <xacro:include filename="$(find lerobot_description)/urdf/so101_ros2_control.xacro" />
    <xacro:include filename="$(find lerobot_description)/urdf/so101_camera_in_hand.xacro" />

    <xacro:so101_camera_in_hand 
        parent="gripper" 
        origin_xyz="0.03 0.0 0.0" 
        origin_rpy="0 0 0" 
    />

</robot>